
	<div class=" border_bottom" style="padding: 0px 30px">
		<form class="content center-block" style="width: 350px; padding: 30px">
			<h4>Login</h4>
		  	<div class="form-group">
		   		<label for="exampleInputEmail1">Email</label>
		   	 	<input type="text" class="form-control" placeholder="Email" style="background-color: #f8f7f3; border-radius: 0; border: none">
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputPassword1">Password</label>
		    	<input type="password" class="form-control" placeholder="Password" style="background-color: #f8f7f3; border-radius: 0; border: none">
		  	</div>
		  	<button style="color: white;
    background-color: #a49163; border-radius: 0" type="submit" class="btn">Register</button>
		</form>
	</div>