<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-5 left_column">
				<div class="border_bottom">
					<div class="box">
						<img src="./assets/images/cosmetic_bag.jpg">
					</div>
				</div>
				<div class="border_bottom sns">
					<div class="box">
						<img style="width: 100px" src="./assets/images/zigzag.png">
						<img src="./assets/images/sns/facebook.png">
						<img src="./assets/images/sns/insta.png">
						<img src="./assets/images/sns/pinterest.png">
						<img src="./assets/images/sns/twitter.png">
						<img style="width: 100px" src="./assets/images/zigzag.png">
					</div>
				</div>
				<div class="border_bottom">1</div>
			</div>
			<div class="col-md-7 right_column">
				<div class="border_bottom">1</div>
				<div class="border_bottom" style="padding: 10px;">
					<div class="box" style="background-color: #f4f1e7;">
						<h2 class="text-center">WELCOME</h2>
						<img style="width: 100px; margin-left: 42%" src="./assets/images/zigzag.png">
						<p>How To: Page about how to do make up</p>
						<p>Reviews: Reviews on makeup</p>
						<p>Tips: Take care of your skin! Get some tips about keeping your face with perfection.</p>
					</div>
				</div>
				<div class="border_bottom howto ">
					<div class="square" style="background-image: url('images/thumbnail.jpg')">
					</div> 
					<div class=" square" style="background-image: url('images/thumbnail3.jpg')">
					</div>
					<div class="square" style="background-image: url('images/thumbnail4.jpg')">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>console.log("main");</script>